# Wazuh - Filebeat configuration file
output.elasticsearch:
  hosts: ["https://{{ wazuh_indexer_ip }}:9200"]
  protocol: https
  username: "admin"
  password: "{{ wazuh_admin_password }}"
  ssl.certificate_authorities:
    - /etc/filebeat/certs/root-ca.pem
  ssl.certificate: "/etc/filebeat/certs/{{ wazuh_cert_name }}.pem"
  ssl.key: "/etc/filebeat/certs/{{ wazuh_cert_name }}-key.pem"
setup.template.json.enabled: true
setup.template.json.path: '/etc/filebeat/wazuh-template.json'
setup.template.json.name: 'wazuh'
setup.template.overwrite: true
setup.ilm.enabled: false

filebeat.modules:
  - module: wazuh
    alerts:
      enabled: true
    archives:
      enabled: false

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0644

# glibc 2.35+ rseq syscall 허용 - 260611 김강환
seccomp:
  default_action: allow
  syscalls:
    - action: allow
      names:
        - rseq
